<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>

<%inherit file="base.html" />

<%def name="online_help_token()"><% return "home" %></%def>
<%block name="title">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>


<%block name="requirejs">
  require(["js/factories/index"], function (IndexFactory) {
      IndexFactory();
  });
</%block>

<%block name="content">
<!--  Terms of aggreement start  -->

<%
from django.contrib.auth.models import User
student = User.objects.get(username=request.user.username)
%>

% if student.profile.tos == False and student.is_active == True :

<!-- Trigger/Open The Modal -->
<button style="display:none" id="myBtn">Open Modal</button>

<form action="/home" method="GET">
<input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
<!-- The Modal -->
 <div id="myModal" class="modal" style="display: block;margin-left: 0px;">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div>
        <h2 class="section__title">Reglamento</h2>
        <h3><b>REGLAMENTO PARA ALUMNOS</b></h3>
        <p><i><span style="font-weight: 400;">Última modificación: Mayo 2018</span></i></p>
        <p>&nbsp;</p>
        <h3><span style="font-weight: 400;">&nbsp;</span><b>ACERCA DE DIGITAL HOUSE</b></h3>
        <p><b>1.1</b> <b>Nuestra Historia</b></p>
        <p><span style="font-weight: 400;">Digital House S.A. (en adelante “Digital House” o “DH” indistintamente) nace de la pasión por formar talento en tecnología y disciplinas digitales.</span><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">Creemos que estas nuevas habilidades se aprenden practicando, haciendo y experimentando.</span></p>
        <p><span style="font-weight: 400;">Somos un centro de formación de habilidades digitales que desafía a pensarlo todo otra vez, aprendiendo a pasar de la idea a la acción.</span></p>
        <p><span style="font-weight: 400;">Sabemos que la mejor forma de enseñar estas disciplinas es con una metodología de “aprender haciendo” que integre, permanentemente, la parte teórica a casos prácticos.</span></p>
        <p><span style="font-weight: 400;">Queremos que los alumnos traigan ideas y puedan desarrollarlas, teniendo un feedback constante de los docentes e instructores, que al ser expertos en la industria actual, podrán guiarlos en el camino del aprendizaje.</span></p>
        <p><span style="font-weight: 400;">Buscamos entrenar e impulsar a los alumnos de Digital House para que se sumen rápidamente a equipos de empresas globales, inicien su start-up o trabajen como freelancers desde cualquier lugar del mundo.</span></p>
        <p><span style="font-weight: 400;">&nbsp;</span></p>
        <p><b>1.2</b> <b>Misión/Objetivos</b></p>
        <p><span style="font-weight: 400;">Nos proponemos desarrollar las nuevas generaciones de coders y profesionales del mundo tecnológico para que sueñen, innoven y creen el nuevo futuro digital.</span></p>
        <p><span style="font-weight: 400;">Queremos exportar nuestro talento digital al mundo.</span></p>
        <p><span style="font-weight: 400;">Queremos pasar de usar tecnología a crearla.</span></p>
        <p><span style="font-weight: 400;">Queremos transformar pensadores en creadores.</span></p>
        <p><span style="font-weight: 400;">Queremos formar las nuevas generaciones de coders y profesionales digitales.</span></p>
        <p><span style="font-weight: 400;">&nbsp;</span></p>
        <p><b>1.3</b> <b>Fundadores/Equipo de Gestión</b></p>
        <p><span style="font-weight: 400;">Digital House fue creada y dirigida por un grupo de socios fundadores. La lista de los socios fundadores y socios ejecutivos puede verse en digitalhouse.com/nosotros.</span></p>
        <p><span style="font-weight: 400;">&nbsp;</span></p>
        <p><b>1.4</b> <b>Acreditaciones</b></p>
        <p><span style="font-weight: 400;">Digital House es un espacio de aprendizaje de tecnologías digitales que responde a las necesidades de una industria en constante evolución. Con este compromiso actualizamos los contenidos de nuestros cursos en base a las innovaciones tecnológicas y a las tendencias del mercado, estableciendo un conocimiento de base sólida para nuestros alumnos.</span><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">No se otorgan títulos oficiales.</span></p>
        <p>&nbsp;</p>
        <p><b>1.5</b> <b>Equipamiento e instalaciones</b></p>
        <p><span style="font-weight: 400;">Todas las clases se dictan en los Campus de Digital House:</span><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">Monroe 860, CABA – Sede Belgrano.</span><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">Lima 1111, CABA – Sede Centro.</span></p>
        <p><span style="font-weight: 400;">contacto@digitalhouse.com</span><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">011 5263-7400</span></p>
        <p><span style="font-weight: 400;">Las instalaciones cuentan con aulas equipadas, espacios de co-learning para los alumnos, salas de conferencias y eventos.</span></p>
        <p><span style="font-weight: 400;">&nbsp;</span></p>
        <p><b>1.6</b> <b>Horarios</b></p>
        <p><span style="font-weight: 400;">Horarios de co-learning: lunes a viernes de 9 a 20h.</span></p>
        <p><span style="font-weight: 400;">Horarios de atención al público: lunes a viernes 9 a 20h.</span></p>
        <p><span style="font-weight: 400;">&nbsp;</span></p>
        <h3><span style="font-weight: 400;">&nbsp;</span><b>POLÍTICA DE ADMISIÓN DE ALUMNOS</b></h3>
        <p><span style="font-weight: 400;">A los efectos del presente Reglamento, se entiende por alumnos a aquellas personas que, una vez cumplidos los requisitos para el ingreso, asisten a los distintos cursos, clases y/o seminarios ofrecidos por Digital House.</span></p>
        <p><span style="font-weight: 400;">En este sentido, serán considerados alumnos: (i) las personas que asistan regularmente a cursos; y (ii) las personas que asistan a cursos, seminarios o eventos específicos de forma eventual o esporádica.</span></p>
        <p><span style="font-weight: 400;">&nbsp;</span></p>
        <p><b>2.1</b> <b>Requerimientos generales de inscripción y fechas de admisión</b></p>
        <p><span style="font-weight: 400;">Para ser admitido a los cursos de Digital House, se requiere haber concluido el colegio secundario y contar con conocimientos de inglés y computación (nivel básico). En caso de no cumplir alguna de estas condiciones, DH se reserva el derecho de admitir a los postulantes que presenten un perfil idóneo.</span><span style="font-weight: 400;"><br> <b><br> EQUIPAMIENTO REQUERIDO</b><br> </span></p>
        <p><span style="font-weight: 400;">Como consecuencia de la metodología utilizada por Digital House, resulta indispensable que los alumnos cuenten con computadoras durante el dictado de los cursos.</span></p>
        <p><span style="font-weight: 400;">Digital House proveerá a los alumnos de notebooks y dispositivos necesarios para las clases. En caso de preferirlo, los alumnos podrán optar por traer sus propias computadoras. En este último caso, los alumnos entienden y aceptan que podría resultar necesario descargar e instalar ciertos programas específicos, o que incluso algunos de los programas utilizados en el marco del curso podrían no ser compatibles con los sistemas de sus equipos.</span></p>
        <p><span style="font-weight: 400;">Los equipos provistos por Digital House podrán ser utilizados únicamente dentro de las instalaciones de los Campus. Los alumnos deberán devolver los equipos una vez finalizada la clase y/o previo a retirarse del Campus, según corresponda. Bajo ningún punto de vista los alumnos podrán llevarse los equipos fuera de las instalaciones de DH.</span></p>
        <p><span style="font-weight: 400;">El alumno entiende y acepta que los equipos están destinados a ser utilizados para fines académicos, por lo que se compromete a otorgarles dicho uso exclusivamente.</span></p>
        <p><span style="font-weight: 400;">El alumno se compromete a no realizar ninguna acción que pudiese resultar en el daño o afectación de los equipos provistos por Digital House, incluyendo a título meramente ejemplificativo las siguientes: descargar programas de software sin la autorización de un profesor; desinstalar programas que se encuentren ya instalados en el equipo (especialmente programas antivirus), acceder a sitios inseguros, entre otros.</span></p>
        <h3><b><br> CURSOS OFRECIDOS</b></h3>
        <p><span style="font-weight: 400;">Digital House ofrece dos categorías de cursos: cursos intensivos y programas ejecutivos. </span></p>
        <p><span style="font-weight: 400;">Los programas de los cursos pueden ser consultados y descargados desde el sitio web “</span><a href="https://www.digitalhouse.com"><span style="font-weight: 400;">www.digitalhouse.com</span></a><span style="font-weight: 400;">”. Digital House se reserva el derecho de realizar cambios en los contenidos de cada curso cuando lo considere necesario o conveniente.</span></p>
        <p><span style="font-weight: 400;">A continuación se detallan las políticas y procedimientos específicos correspondientes a curso:</span></p>
        <p>&nbsp;</p>
        <p><b>4.1</b> <b>CURSOS INTENSIVOS</b></p>
        <p>&nbsp;</p>
        <p><b>4.1.a</b> <b>Proceso de admisión</b></p>
        <p><span style="font-weight: 400;">El proceso de admisión de los postulantes consta de las siguientes etapas:</span></p>
        <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Completar el formulario de aplicación al curso.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Participar de una breve entrevista telefónica, donde buscaremos conocer mejor sus conocimientos previos y podremos responder todas sus consultas.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Realizar el pre-work (trabajo previo) para prepararse para el curso.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Completar el desafío online.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Aprobar una entrevista. Según el curso, la entrevista podrá ser presencial u online, con nuestros profesores. En la misma se pedirá a los postulantes que argumenten sobre los ejercicios realizados en el desafío. Si la entrevista es presencial, se les entregarán otros ejercicios para resolver en el momento.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Una vez completado el proceso, un coordinador de alumnos, comunicará el resultado al postulante.</span></li>
        </ol>
        <p><span style="font-weight: 400;">Todos los postulantes deberán abonar la matrícula para poder inscribirse al curso.</span></p>
        <p><span style="font-weight: 400;">Antes del inicio del curso, los alumnos de programación admitidos, deberán realizar un Preparation Work con contenidos básicos para las primeras clases.</span></p>
        <p>&nbsp;</p>
        <p><b>4.1.b</b> <b>Pre-work requerido</b></p>
        <table>
            <tbody>
                <tr>
                    <td><b>Curso</b></td>
                    <td></td>
                    <td><b>Requisitos para la Admisión</b></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">Desarrollo Web Full Stack</span><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">Desarrollo Móvil Android y IOS</span><span style="font-weight: 400;">&nbsp;</span></td>
                    <td></td>
                    <td><span style="font-weight: 400;">Conocimientos básicos de programación: estructuras de control (if, for, while, manejo de arrays y funciones). Principios básicos de internet y computación. Inglés básico.</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">Marketing Digital</span></td>
                    <td></td>
                    <td><span style="font-weight: 400;">Nociones básicas de Marketing. Evolución de los medios. Glosario de términos. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">Diseño UX</span></td>
                    <td></td>
                    <td><span style="font-weight: 400;">Introducción a conceptos y metodología del Diseño de Experiencia de Usuario. Usabilidad. UI.</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">Digital Product</span>
                        <p></p>
                        <p><span style="font-weight: 400;">Management</span></p>
                    </td>
                    <td></td>
                    <td><span style="font-weight: 400;">Nociones básicas de desarrollo de producto. Principios básicos de internet y computación.</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">Digital Business Administration<br> </span></td>
                    <td></td>
                    <td><span style="font-weight: 400;">Principios básicos de internet y computación. Inglés básico.</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">Data Science<br> </span></td>
                    <td></td>
                    <td>Nociones de estadística descriptiva, nociones de programación en Python.</td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">Data Analytics<br> </span></td>
                    <td></td>
                    <td>Intuiciones&nbsp;de probabilidad y estadística descriptiva.&nbsp;Nociones básicas de Excel.</td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">Inteligencia Artificial<br> </span></td>
                    <td></td>
                    <td>Conocimientos de programación (preferentemente Python), de conceptos básicos de Machine Learning, de álgebra lineal, probabilidad y estadística.</td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <p><span style="font-weight: 400;">Luego de la inscripción al curso se envía a los alumnos el pre-work, que está diseñado para introducirlos en los temas fundamentales del curso. Es obligatorio completar el pre-work, ya que es la base mínima de conocimientos para comenzar. No se espera que los alumnos sean expertos en cada tema del pre-work, pero sí que se entusiasmen para descubrir y profundizar en estos y otros temas.</span><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">Si un alumno no logra completar el pre-work antes del primer día del curso y quiere darse de baja, deberá referirse a nuestra&nbsp;</span><span style="font-weight: 400;">política de bajas y cancelaciones (por favor ver Sección 7 del presente Reglamento).</span></p>
        <p><span style="font-weight: 400;">&nbsp;</span></p>
        <p><b>4.1.c</b> <b>Fecha límite para admisiones</b></p>
        <p><span style="font-weight: 400;">Para los cursos intensivos la fecha de cierre de inscripciones es de una semana antes del inicio del curso.</span></p>
        <p><span style="font-weight: 400;">Digital House se reserva el derecho de hacer excepciones y admitir alumnos a un curso determinado luego de la fecha límite de admisión bajo determinadas circunstancias.</span></p>
        <p><span style="font-weight: 400;">&nbsp;</span></p>
        <p><b>4.1.d</b> <b>Políticas académicas. Tarea</b></p>
        <p><span style="font-weight: 400;">Los alumnos deberán contar con tiempo disponible para trabajar en sus proyectos luego de las clases. La cantidad de horas dependerá de la curva de aprendizaje de cada alumno, pero se puede calcular entre 4 a 6 horas extra por semana.</span></p>
        <p>&nbsp;</p>
        <p><b>4.1.e</b> <b>Aprobación de los cursos</b></p>
        <p><span style="font-weight: 400;">Digital House mide el progreso de los alumnos a través de las prácticas largas y los proyectos integradores. Se evalúa a los alumnos en base a si aprobaron o no aprobaron el desafío.</span></p>
        <p><span style="font-weight: 400;">Para aprobar los alumnos deberán:</span></p>
        <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Cumplir con los requerimientos de asistencia al curso. Los alumnos no podrán tener más de 10% de ausencias no autorizadas en el curso.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Aprobar al menos el 80% de las prácticas largas (determinadas por el profesor). Para esto, los alumnos deberán completar el 100% de las tareas mínimas de cada una de estas prácticas.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Aprobar todos los proyectos integradores del curso.</span></li>
        </ol>
        <p><span style="font-weight: 400;">&nbsp;</span></p>
        <p><b>4.1.f</b> <b>Sistema de evaluación</b></p>
        <table>
            <tbody>
                <tr>
                    <td><b>Calificación</b></td>
                    <td></td>
                    <td><b>Descripción</b></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">Destacado</span></td>
                    <td></td>
                    <td><span style="font-weight: 400;">El alumno ha superado los objetivos propuestos.</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">Aprobado</span></td>
                    <td></td>
                    <td><span style="font-weight: 400;">El alumno ha completado satisfactoriamente todos los objetivos del curso.</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">Desaprobado</span></td>
                    <td></td>
                    <td><span style="font-weight: 400;">El alumno no ha completado satisfactoriamente todos los requisitos del curso.</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">Incompleto</span></td>
                    <td></td>
                    <td><span style="font-weight: 400;">En caso en que Digital House otorgue una extensión a un alumno en particular para completar el curso, se le asignará la calificación “incompleto”. La extensión no puede superar los 30 días desde el último día de clases. Si el alumno no logra completar su proyecto dentro de este plazo, se lo calificará como Desaprobado.</span></td>
                </tr>
            </tbody>
        </table>
        <p><span style="font-weight: 400;">Los alumnos que se destaquen en cada módulo recibirán un reconocimiento que podrán vincular a su perfil.</span></p>
        <p><span style="font-weight: 400;">Si un alumno no está progresando al momento de cada evaluación, se le otorgará asistencia adicional fuera de clase. Si el alumno no es capaz de progresar en lo académico con esta asistencia, y no cumple con los objetivos mínimos de aprobación del curso, podrá ser dado de baja en cualquier momento del mismo.</span></p>
        <p><span style="font-weight: 400;"><br> </span><b>4.1.g</b> <b>Régimen de asistencia</b></p>
        <p><span style="font-weight: 400;">Los alumnos pueden ausentarse, como máximo, a un 10% de las clases. Esto implica que será indispensable la asistencia –como mínimo– al 90% de las clases para poder aprobar la cursada. Una clase es definida como un encuentro de una o más horas de instrucción en un día determinado. </span></p>
        <p><span style="font-weight: 400;">El alumno que se ausente a más del 10% de las clases sin autorización de Digital House, podrá ser dado de baja. En caso de considerar que las circunstancias del caso así lo ameritan, Digital House podrá habilitar un número mayor de ausencias autorizadas discrecionalmente.</span></p>
        <p><span style="font-weight: 400;">En todas las clases se toma asistencia. Los profesores y ayudantes registran la asistencia de los alumnos 15 minutos luego del comienzo y 15 minutos antes del final de la clase. El alumno que llegue a clase luego de más de 15 minutos del horario de inicio, tendrá una llegada tarde. Lo mismo sucederá con el alumno que se retire más de 15 minutos antes del horario de fin de la clase, sin autorización. Cada vez que un alumno llegue tarde o se retire antes, contará como un tercio de falta.</span></p>
        <p><span style="font-weight: 400;"><br> </span><b>4.1.h</b> <b>Tarea para recuperar</b></p>
        <p><span style="font-weight: 400;">Como requisito para aprobar el curso, los alumnos que no asistan a clase deberán realizar como tareas los ejercicios correspondientes que hayan sido realizados durante la clase a la cual se ausentaron. Se recomienda a los alumnos asistir al co-learning y coordinar con sus profesores la manera de ponerse al día con los contenidos, utilizando los recursos del Campus Virtual.</span></p>
        <p><span style="font-weight: 400;">Las clases de Digital House no son filmadas, ni grabadas, ni archivadas, ni ofrecidas en horarios alternativos para los alumnos que faltan.</span></p>
        <p>&nbsp;</p>
        <p><b>4.1.i</b> <b>Finalización</b></p>
        <p><span style="font-weight: 400;">A cada alumno que apruebe un curso completo, se le entregará un diploma de Digital House.</span></p>
        <p><span style="font-weight: 400;">Se deja expresa constancia que Digital House no otorga títulos oficiales.</span></p>
        <p>&nbsp;</p>
        <p>4.2 <b>PROGRAMAS EJECUTIVOS</b></p>
        <p>&nbsp;</p>
        <p><b>4.2.a</b> <b>Proceso de admisión</b></p>
        <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Completar el formulario de aplicación al curso.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Tener una breve entrevista telefónica con el coordinador del curso para conocer la experiencia previa que poseen los alumnos y cuáles son las expectativas que tienen del curso.</span></li>
        </ol>
        <p><span style="font-weight: 400;">Todos los postulantes deberán abonar la matrícula para poder inscribirse al curso.</span></p>
        <p>&nbsp;</p>
        <p><b>4.2.b</b> <b>Aprobación del curso</b></p>
        <p><span style="font-weight: 400;">Cumplir con los requerimientos del régimen de asistencia del curso.</span></p>
        <p>&nbsp;</p>
        <p><b>4.2.c</b> <b>Régimen de asistencia</b></p>
        <p><span style="font-weight: 400;">Con autorización previa de Digital House, los alumnos pueden ausentarse, como máximo a dos clases. Una clase es definida como un encuentro presencial de instrucción en un día determinado. El alumno que se ausente a más de dos de las ocho clases que abarca el curso, sin autorización de Digital House, podrá ser dado de baja. Digital House podrá habilitar un número mayor de ausencias autorizadas discrecionalmente.</span></p>
        <p><span style="font-weight: 400;">En todas las clases se toma asistencia. Los profesores y ayudantes registran la asistencia de los alumnos 15 minutos luego del comienzo y 15 minutos antes del final de la clase. El alumno que llegue a clase luego de más de 15 minutos del horario de inicio, tendrá una llegada tarde. Lo mismo sucederá con el alumno que se retire más de 15 minutos antes del horario de fin de la clase, sin autorización. Cada vez que un alumno llegue tarde o se retire antes, contará como un tercio de falta.</span></p>
        <p>&nbsp;</p>
        <p><b>4.2.d</b> <b>Finalización</b></p>
        <p><span style="font-weight: 400;">A cada alumno que apruebe un curso completo, se le entregará un certificado de asistencia.</span></p>
        <p><span style="font-weight: 400;">Se deja expresa constancia que Digital House no otorga títulos oficiales.</span></p>
        <p>&nbsp;</p>
        <h3><b>CONDUCTA Y SANCIONES A LOS ALUMNOS</b></h3>
        <p><span style="font-weight: 400;">Digital House es una comunidad enfocada en el aprendizaje y el desarrollo de conocimientos y habilidades.</span><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">Si un alumno, a exclusivo criterio de Digital House, es considerado disruptivo para la comunidad, será pasible de sanciones. </span></p>
        <p><span style="font-weight: 400;">Las sanciones previstas son las siguientes:</span></p>
        <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Llamado de atención</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Suspensión</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Expulsión</span></li>
        </ol>
        <p><span style="font-weight: 400;">Corresponderá al Director la determinación y aplicación de las sanciones, conforme la gravedad de la infracción o disrupción. La descripción del caso, la decisión y su justificación deberán constar por escrito y ser puestas a disposición del alumno sancionado.</span></p>
        <p><span style="font-weight: 400;">A continuación enunciamos algunos ejemplos de disrupción (no siendo la siguiente lista taxativa): agredir o amenazar a otros alumnos, profesores o personal de Digital House; realizar o fomentar actividades ilegales en el campus y/o en los alrededores; incumplir las normas de conducta establecidas en el aula o campus; u otro comportamiento identificado por los profesores o el personal como perjudicial para el ambiente de aprendizaje de otros alumnos.</span></p>
        <p><span style="font-weight: 400;">Los alumnos también pueden ser sancionados por violaciones académicas, según la política de sanciones de Digital House. </span></p>
        <p><span style="font-weight: 400;">Los alumnos deben tratar a todos los miembros del personal y otros alumnos con respeto y dignidad. El alumno que sea sorprendido haciendo trampas; destruyendo deliberadamente la propiedad física o virtual; asistiendo al Campus bajo la influencia de drogas ilegales o alcohol y/o exhibiendo un comportamiento perturbador, rebelde, bullicioso, obsceno, vulgar, o faltando el respeto, podrá ser sancionado.</span></p>
        <p><span style="font-weight: 400;">En caso de ser sancionado con expulsión, se le prohibirá al alumno volver a inscribirse en otro curso, no pudiendo ser readmitido en Digital House.</span></p>
        <p><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">Asimismo, los alumnos entienden y aceptan que:</span></p>
        <p><span style="font-weight: 400;">-Se prohíbe fumar en espacios cerrados en DH.</span></p>
        <p><span style="font-weight: 400;">-Se prohíbe comer y/o beber en las aulas.</span></p>
        <p><span style="font-weight: 400;">-Se prohíbe el ingreso con animales o mascotas.</span></p>
        <p><span style="font-weight: 400;">-El estacionamiento es para uso exclusivo de los profesores y staff de Digital House.</span></p>
        <p><span style="font-weight: 400;">-Digital House no se hace responsable por el daño, pérdida, robo, hurto o ruptura total o parcial de las pertenencias de los alumnos.</span></p>
        <p><span style="font-weight: 400;">&nbsp;</span></p>
        <h3><span style="font-weight: 400;">&nbsp;</span><b>PROCEDIMIENTO PARA RECLAMOS INTERNOS</b></h3>
        <p><span style="font-weight: 400;">En caso de producirse un incidente, el alumno deberá plantear sus inquietudes y preocupaciones directamente a su profesor, quien intentará resolver la situación. </span></p>
        <p><span style="font-weight: 400;">Si no se logra una resolución, el alumno y/o el profesor deberán presentar el caso ante el Director, proporcionando una descripción detallada y por escrito del incidente. El Director investigará la queja y proporcionará una respuesta escrita a la brevedad. </span></p>
        <p><span style="font-weight: 400;">Digital House intentará resolver todas las quejas dentro de los 30 días. </span></p>
        <p><span style="font-weight: 400;">La decisión del Director es definitiva en base al procedimiento de quejas de Digital House.</span></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h3><b>BAJAS, CANCELACIONES, REEMBOLSOS</b></h3>
        <p><span style="font-weight: 400;">&nbsp;</span></p>
        <p><b>7.1</b> <b>Tipos de bajas</b></p>
        <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Baja por Abandono: el alumno que decida darse de baja de un curso debe notificarlo por escrito a Digital House y se lo convocará a una entrevista de baja.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Baja por Ausencia: si el alumno falta a más del 10% de las clases, sin ser autorizado, perderá su condición de alumno regular y podrá ser dado de baja por Digital House.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Baja Académica: si el alumno no cumple las condiciones de aprobación.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Baja Administrativa: si el alumno no abona las cuotas o matrícula en tiempo y forma, podrá ser dado de baja del curso.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Baja por expulsión: si el alumno incurre en faltas al reglamento, podrá ser expulsado por Digital House.</span></li>
        </ol>
        <p><span style="font-weight: 400;">&nbsp;</span></p>
        <p><b>7.2</b> <b>Cancelaciones: procedimiento, valores reembolsables y no reembolsables.</b></p>
        <p><span style="font-weight: 400;">Para poder inscribirse a los cursos, el alumno deberá abonar la matricula previamente o el 30% del valor del programa ejecutivo. El total abonado por el alumno en virtud de este importe no será devuelto en ningún caso.</span></p>
        <p><span style="font-weight: 400;">En el caso de los cursos intensivos, en donde el alumno haya completado el pre-work y el challenge, pero no haya superado el proceso de admisión luego de dos intentos, se le reembolsará el 80% de lo abonado hasta entonces en concepto de cuotas.</span></p>
        <p><span style="font-weight: 400;">Si, una vez admitido, se da de baja un alumno de un curso intensivo se le reintegrará lo abonado en concepto de cuotas en función del tiempo cursado según el siguiente esquema:</span></p>
        <table>
            <tbody>
                <tr>
                    <td>Tiempo del curso</td>
                    <td>Devolución</td>
                </tr>
                <tr>
                    <td>0% – 20%</td>
                    <td>75%</td>
                </tr>
                <tr>
                    <td>21% – 40%</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>41% – 60%</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>+61%</td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <p><span style="font-weight: 400;">En el caso de haber abonado el curso por medio de&nbsp;<strong>Todo Pago</strong>, el tiempo para solicitar el reembolso en caso de no querer comenzar la cursada es de máximo 60 días.&#8203; Superado el plazo, del monto abonado se le descontará el 30% en concepto de cargos administrativos propios de Todo Pago.Para que se haga efectiva la baja, el alumno deberá solicitarla formalmente por escrito. El porcentaje de cursada utilizado para definir la devolución correspondiente se calculará en función de la fecha en que se haya informado la baja del curso al Departamento de Alumnos.</span></p>
        <p><span style="font-weight: 400;">Las cuotas se abonan del 1 al 5 de cada mes. El alumno que al día 10 del mes aún no haya abonado su cuota, no tendrá acceso al Campus Virtual. </span></p>
        <p><span style="font-weight: 400;">El alumno que al día 15 del mes aún no haya abonado su cuota, no podrá ingresar al edificio (ni al aula, ni al co-learning) hasta que regularice su situación.</span></p>
        <p><span style="font-weight: 400;">El pago fuera de término implicará un recargo por intereses.</span></p>
        <p><span style="font-weight: 400;">El valor de los cursos correspondientes a programas ejecutivos &nbsp;no será reembolsable en ningún caso.</span></p>
        <h3><b><br> USO DE IMAGEN<br> </b></h3>
        <p><span style="font-weight: 400;">Digital House podrá en cualquier momento, dentro de las inmediaciones de los Campus y en las aulas, realizar filmaciones y/o tomar fotografías –por sí o a través de terceros–, en las cuales podrían verse captados el retrato, imagen y/o voz (en conjunto, “Imagen”) de los alumnos.</span></p>
        <p><span style="font-weight: 400;">Asimismo, Digital House podrá captar la Imagen de alumnos en el marco de entrevistas (siendo su participación completamente voluntaria).</span></p>
        <p><span style="font-weight: 400;">El alumno presta conformidad y autoriza a Digital House, de manera gratuita y definitiva, a filmar, fotografiar, obtener, almacenar, grabar, fijar y captar en cualquier formato y a través de cualquier medio –total o parcialmente– su Imagen durante las sesiones de filmación y/o producciones fotográficas llevadas a cabo por Digital House. Asimismo, el alumno autoriza de manera irrevocable a Digital House a utilizar, divulgar, reproducir, comunicar, difundir, distribuir, transmitir, imprimir, exhibir y publicar de cualquier forma y por cualquier medio, por sí o a través de terceros, su Imagen –como asimismo su nombre, edad y &nbsp;carácter de alumno de Digital House (incluyendo curso)–, de manera amplia, perpetua e irrestricta, sin limitación geográfica ni temporal, con la finalidad de publicitar, promocionar y/o promover los cursos, iniciativas, acciones y/o</span> <span style="font-weight: 400;">actividades de Digital House y/o sus servicios, con fines promocionales, comerciales, institucionales y/o de comunicación, a través de su inclusión dentro de las acciones publicitarias, promocionales, institucionales y/o comerciales de cualquier tipo que se lleven a cabo.</span></p>
        <p><span style="font-weight: 400;">Tales acciones podrán ser comunicadas, divulgadas, reproducidas, difundidas, distribuidas, transmitidas, exhibidas y/o publicadas a través de internet –incluyendo pero no limitado a páginas web, redes sociales, material on-line, interactivo, </span><i><span style="font-weight: 400;">streaming</span></i><span style="font-weight: 400;"> y descarga, etc.–, medios y soportes gráficos, ópticos, digitales, virtuales, magnéticos y/o electrónicos, video en cualquier formato y tecnología, fotografía, cartelería y folletería.</span></p>
        <p><span style="font-weight: 400;">Digital House</span><span style="font-weight: 400;"> podrá, a su exclusivo criterio y sin restricciones de ningún tipo, por sí o a través de terceros, editar, alterar, suprimir, modificar y/o de cualquier manera adaptar la Imagen con el fin de adecuarla a las acciones publicitarias, promocionales, institucionales y/o comerciales que se desarrollaran.</span></p>
        <p><span style="font-weight: 400;">Bajo ningún punto de vista se interpretará que Digital House tiene la obligación de utilizar la Imagen de un alumno, siendo su uso completamente facultativo.</span></p>
        <p><span style="font-weight: 400;">El alumno entiende que la presente autorización no es de carácter obligatorio, siendo su otorgamiento totalmente voluntario. En caso que existiera algún</span> <span style="font-weight: 400;">obstáculo o impedimento legal que pudiera afectar la presente autorización, el alumno se compromete a informarlo inmediatamente a Digital House. Asimismo, en caso de ser menor de edad, el alumno se compromete a obtener el consentimiento expreso de sus representantes legales para el uso de su Imagen conforme lo aquí descripto.</span></p>
        <p><span style="font-weight: 400;">Los alumnos aceptan que Digital House no será responsable por cualquier utilización o explotación antijurídica, indebida o no autorizada de su Imagen que pudieren realizar terceros sin su consentimiento.</span></p>
        <h3><b>PROTECCIÓN DE DATOS PERSONALES<br> </b></h3>
        <p><span style="font-weight: 400;">En el marco de la relación entre Digital House y el alumno, Digital House recolectará, almacenará y procesará datos personales de este último, en los términos de la Ley de Protección de Datos Personales N° 25.326 (la “LPDP”).</span></p>
        <p><span style="font-weight: 400;">La recolección de datos podrá realizarse por distintos medios, siendo los principales: entrevistas telefónicas, online o personales mantenidas con el alumno, entrega de documentación y llenado de formularios (tanto por parte del alumno como de la empresa en la que trabaja, en los casos de corporate training), y mediante distintas secciones disponibles en el sitio web </span><a href="https://www.digitalhouse.com"><span style="font-weight: 400;">www.digitalhouse.com</span></a><span style="font-weight: 400;"> y en el Campus Virtual.</span></p>
        <p><span style="font-weight: 400;">Los datos personales recolectados por Digital House serán conservados en una base de datos debidamente inscripta ante la Dirección Nacional de Protección de Datos Personales, y serán utilizados con la finalidad de prestar sus servicios.</span></p>
        <p><span style="font-weight: 400;">Por medio del presente el alumno consiente expresamente la recolección, la conservación y el procesamiento de sus datos por parte de Digital House. Por su parte, Digital House se compromete a tratar los datos personales en todo momento de acuerdo con las disposiciones de la LPDP, el Decreto 1558/2001, las disposiciones emanadas de la Dirección de Protección de Datos Personales y demás normativa aplicable en lo referente a protección de datos personales.</span></p>
        <p><span style="font-weight: 400;">Asimismo, Digital House adoptará las medidas de seguridad y preservación de la información exigidas por la normativa vigente (incluyendo aquéllas contenidas en las Disposiciones 11/2006 y 9/2008 de la Dirección Nacional de Protección de Datos Personales), a fin de garantizar un nivel adecuado de reserva y confidencialidad de los datos del alumno.</span></p>
        <p><span style="font-weight: 400;">Por otro lado, el alumno presta también consentimiento para que sus datos sean utilizados por Digital House para el envío de materiales publicitarios (tales como newsletters y folletos), el cual podrá ser dado de baja en cualquier momento a exclusivo criterio del usuario.</span></p>
        <p><span style="font-weight: 400;">En cumplimiento de lo normado por la Disposición 10/2008 de la Dirección Nacional de Protección de Datos Personales, se informa al alumno que “</span><b><i>El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326 – La DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales</i></b><span style="font-weight: 400;">”.</span></p>
        <p><span style="font-weight: 400;">A fin de ejercer sus derechos de acceso, actualización, rectificación y/o supresión, el alumno podrá enviar una carta documento o presentarse personalmente –previa acreditación de su identidad– en alguno de los Campus de Digital House cuyo domicilio se indica bajo la sección “Equipamiento de Instalaciones”.</span></p>
        <h3><b>DESARROLLOS<br> </b></h3>
        <p><span style="font-weight: 400;">En Digital House buscamos crear un ambiente colaborativo, en el que los alumnos puedan beneficiarse no sólo de los conocimientos de los docentes e instructores sino también de los conocimientos de sus pares. </span></p>
        <p><span style="font-weight: 400;">El objetivo de Digital House es favorecer la diseminación y utilización de ideas y aportes creativos a través de la difusión y extensión de los conocimientos generados. </span></p>
        <p><span style="font-weight: 400;">Es por eso que Digital House facilita el acceso a equipos, sistemas, infraestructura, personal y conocimientos, haciendo posible e incentivando el desarrollo de innovaciones, programas y obras por parte de sus alumnos. </span></p>
        <p><span style="font-weight: 400;">Así, los desarrollos realizados por los alumnos en el marco de los cursos son el resultado de una relación de colaboración en el contexto de una comunidad académica en la que se fusionan las ideas e iniciativas individuales con los medios y entorno aportados por Digital House. </span></p>
        <p><span style="font-weight: 400;">Por todo lo expuesto, los alumnos otorgan a Digital House una licencia gratuita, irrevocable y sin limitación territorial o temporal alguna sobre cualquier obra, desarrollo o invento que realicen en el marco de su relación académica, a fin de que esta última pueda utilizarlos con fines educativos en el dictado de sus cursos, y asimismo pueda adaptarlos, modificarlos y crear obras derivadas de los mismos.</span><b></b></p>
        <h3><b>REGLAMENTO DE BECAS</b></h3>
        <p>NORMAS DEL FUNCIONAMIENTO DEL SISTEMA DE BECAS EN DIGITAL HOUSE</p>
        <p><b>Digital House ofrece becas de acuerdo al desempeño y la necesidad económica. El hecho de cumplir con los requisitos de postulación no implica el otorgamiento automático de la beca. El programa de becas tiene cupos limitados y las postulaciones quedarán </b><b>sujetas </b><b>a la decisión final del Comité de Becas.</b></p>
        <p><b>BECAS EN DIGITAL HOUSE<br> </b><span style="font-weight: 400;">Becas por Turno:</span></p>
        <ul>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Turno Mañana hasta 40% de Beca sobre el valor&nbsp;total del curso (matrícula + curso)</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Turno Tarde hasta 45% de Beca sobre el valor&nbsp;total del curso (matrícula + curso)</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Turno Noche hasta 30% de Beca sobre el valor&nbsp;total del curso (matrícula + curso)</span></li>
        </ul>
        <p><b>REQUISITOS &nbsp;FUNDAMENTALES PARA &nbsp;APLICAR A UNA BECA</b></p>
        <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Abonar la matrícula del curso con el precio vigente al momento de la inscripción. La misma sufrirá un ajuste una vez que se otorgue la beca de forma efectiva. Las becas no son acumulables con otras promociones, por lo que, cualquier descuento que se hubiera aplicado en el pago inicial, se registrará como un pago parcial de la misma y se deberá abonar el faltante para iniciar la cursada.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;"><strong>Completar el formulario de solicitud de beca.</strong></span></li>
            <li style="font-weight: 400;"><strong>Enviar un email a&nbsp;becas@digitalhouse.com&nbsp;con el asunto “Documentación Beca” y adjuntar:</strong>
                <ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">CV actualizado.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Carta de presentación manifestando la razón por la cual estás interesado en el curso.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Último recibo de sueldo (o bien últimas 3 facturas que emitiste en caso de ser monotributista).</span></li>
                </ul>
            </li>
            <li style="font-weight: 400;"><strong>Finalizar y aprobar el proceso de admisión al curso en el período de tiempo establecido.</strong></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;"><strong>Sólo si cumpliste con los pasos 1 al 4 y con los requisitos detallados en el apartado “Requisitos para la Postulación”</strong> evaluaremos la información suministrada en tu solicitud. En caso de considerarlo necesario nos pondremos en contacto con vos para pautar una entrevista.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;"><strong>Recibirás un correo notificándote si fuiste seleccionado para recibir una de las becas y sus características.</strong> Deberás confirmar la aceptación de las condiciones en un plazo máximo de 2 (dos) días hábiles, de lo contrario la beca quedará automáticamente cancelada perdiendo así el beneficio de aplicar a otra beca DH.</span></li>
        </ol>
        <p><b>CONDICIONES PARA MANTENER LA BECA</b><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">› Tu postulación a la beca da por sentado que leíste y aceptaste el&nbsp;</span><a href="https://www.digitalhouse.com/reglamento/"><span style="font-weight: 400;">reglamento de Digital House</span></a><span style="font-weight: 400;">.</span></p>
        <p><span style="font-weight: 400;">› Deberás cumplir con el 90% de asistencia al curso y con los requisitos académicos establecidos. En caso de incumplir con los mismos durante la cursada, nos reservamos la potestad de revocar tu beca.</span></p>
        <p><b>CARACTERÍSTICAS DE LAS BECAS<br> </b><span style="font-weight: 400;">›&nbsp;Las becas no son acumulables con otros beneficios ni entre sí. Sólo podés aplicar a una única beca.</span></p>
        <p><span style="font-weight: 400;">›&nbsp;En caso de que se te otorgue una beca, la aceptes y no inicies o completes el curso, no podrás postularte a ninguna beca en otra oportunidad y perderás el beneficio del reintegro de cualquier valor abonado.</span></p>
        <p><span style="font-weight: 400;">›&nbsp;Digital House se reserva el derecho de revocar tu beca en la comisión seleccionada hasta cinco días antes del inicio del curso y asignarte una vacante en otra comisión. &nbsp;&nbsp;</span></p>
        <p><span style="font-weight: 400;">› Sólo en el caso </span><b>que no se te otorgue la beca</b><span style="font-weight: 400;">; o </span><b>no resultes admitido al curso al cual tenías intención de aplicar</b><span style="font-weight: 400;">, te reintegraremos el 100% de lo que abonaste por la matrícula, salvo en pagos realizados a través de Pago mis Cuentas o tarjeta de crédito donde se te retendrá el costo de dicha transacción, siendo el reintegro del 98%; y en pagos realizados con Mercado Pago o Todo Pago el reintegro será del 94% de lo abonado.</span></p>
        <p><b>Para recibir más información relativa al Programa de Becas por favor entrá en contacto con el Departamento de Admisiones:</b>&nbsp;<strong><a href="mailto:admisiones@digitalhouse.com">admisiones@digitalhouse.com</a>&nbsp;/&nbsp; &nbsp; &nbsp; (+54-11)5263-7400</strong>.</p>
        <p><b>Importante: En caso de renunciar a la beca una vez realizado el pago total o parcial, Digital House no se reintegrará monto alguno.</b><b></b><b></b></p>
    </div>
    <br><br>
    <input type="submit" value="Estoy de acuerdo con el Reglamento">
   </div>
 </div>
</form>
<style>

<%
student.profile.tos = True
student.profile.save()
%>

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
//btn.onclick = function() {
    modal.style.display = "block";
//}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
//window.onclick = function(event) {
//    if (event.target == modal) {
//        modal.style.display = "none";
//    }
//}
</script>
% endif

<!--  Terms of aggreement end  -->
<div class="wrapper-mast wrapper">
  <header class="mast has-actions">
    <h1 class="page-header">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</h1>

    % if user.is_active:
    <nav class="nav-actions" aria-label="${_('Page Actions')}">
      <h3 class="sr">${_("Page Actions")}</h3>
      <ul>
        <li class="nav-item">
          % if course_creator_status=='granted':
          <a href="#" class="button new-button new-course-button"><span class="icon fa fa-plus icon-inline" aria-hidden="true"></span>
              ${_("New Course")}</a>
          % elif course_creator_status=='disallowed_for_this_site' and settings.FEATURES.get('STUDIO_REQUEST_EMAIL',''):
          <a href="mailto:${settings.FEATURES.get('STUDIO_REQUEST_EMAIL','')}">${_("Email staff to create course")}</a>
          % endif

          % if show_new_library_button:
            <a href="#" class="button new-button new-library-button"><span class="icon fa fa-plus icon-inline" aria-hidden="true"></span>
            ${_("New Library")}</a>
          % endif

          % if is_programs_enabled:
            <a href=${program_authoring_url + 'new'} class="button new-button new-program-button"><span class="icon fa fa-plus icon-inline" aria-hidden="true"></span>
            ${_("New Program")}</a>
          % endif
        </li>
      </ul>
    </nav>
    % endif
  </header>
</div>

<div class="wrapper-content wrapper">
  % if user.is_active:
  <section class="content">
    <article class="content-primary" role="main">

      % if course_creator_status=='granted':
      <div class="wrapper-create-element wrapper-create-course">
        <form class="form-create create-course course-info" id="create-course-form" name="create-course-form">
          <div class="wrap-error">
            <div id="course_creation_error" name="course_creation_error" class="message message-status message-status error" role="alert">
            <p>${_("Please correct the highlighted fields below.")}</p>
            </div>
          </div>

          <div class="wrapper-form">
            <h3 class="title">${_("Create a New Course")}</h3>

            <fieldset>
              <legend class="sr">${_("Required Information to Create a New Course")}</legend>

              <ol class="list-input">
                <li class="field text required" id="field-course-name">
                  <label for="new-course-name">${_("Course Name")}</label>
                  ## Translators: This is an example name for a new course, seen when
                  ## filling out the form to create a new course.
                  <input class="new-course-name" id="new-course-name" type="text" name="new-course-name" required placeholder="${_('e.g. Introduction to Computer Science')}" aria-describedby="tip-new-course-name tip-error-new-course-name" />
                  <span class="tip" id="tip-new-course-name">${_("The public display name for your course. This cannot be changed, but you can set a different display name in Advanced Settings later.")}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-course-name"></span>
                </li>
                <li class="field text required" id="field-organization">
                  <label for="new-course-org">${_("Organization")}</label>
                  ## Translators: This is an example for the name of the organization sponsoring a course, seen when filling out the form to create a new course. The organization name cannot contain spaces.
                  ## Translators: "e.g. UniversityX or OrganizationX" is a placeholder displayed when user put no data into this field.
                  <input class="new-course-org" id="new-course-org" type="text" name="new-course-org" required placeholder="${_('e.g. UniversityX or OrganizationX')}" aria-describedby="tip-new-course-org tip-error-new-course-org" />
                  <span class="tip" id="tip-new-course-org">${Text(_("The name of the organization sponsoring the course. {strong_start}Note: The organization name is part of the course URL.{strong_end} This cannot be changed, but you can set a different display name in Advanced Settings later.")).format(
                      strong_start=HTML('<strong>'),
                      strong_end=HTML('</strong>'),
                  )}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-course-org"></span>
                </li>

                <li class="field text required" id="field-course-number">
                  <label for="new-course-number">${_("Course Number")}</label>
                  ## Translators: This is an example for the number used to identify a course,
                  ## seen when filling out the form to create a new course. The number here is
                  ## short for "Computer Science 101". It can contain letters but cannot contain spaces.
                  <input class="new-course-number" id="new-course-number" type="text" name="new-course-number" required placeholder="${_('e.g. CS101')}" aria-describedby="tip-new-course-number tip-error-new-course-number" />
                  <span class="tip" id="tip-new-course-number">${Text(_("The unique number that identifies your course within your organization. {strong_start}Note: This is part of your course URL, so no spaces or special characters are allowed and it cannot be changed.{strong_end}")).format(
                      strong_start=HTML('<strong>'),
                      strong_end=HTML('</strong>'),
                  )}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-course-number"></span>
                </li>

                <li class="field text required" id="field-course-run">
                  <label for="new-course-run">${_("Course Run")}</label>
                  ## Translators: This is an example for the "run" used to identify different
                  ## instances of a course, seen when filling out the form to create a new course.
                  <input class="new-course-run" id="new-course-run" type="text" name="new-course-run" required placeholder="${_('e.g. 2014_T1')}" aria-describedby="tip-new-course-run tip-error-new-course-run" />
                  <span class="tip" id="tip-new-course-run">${Text(_("The term in which your course will run. {strong_start}Note: This is part of your course URL, so no spaces or special characters are allowed and it cannot be changed.{strong_end}")).format(
                      strong_start=HTML('<strong>'),
                      strong_end=HTML('</strong>'),
                  )}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-course-run"></span>
                </li>
              </ol>

            </fieldset>
          </div>

          <div class="actions">
            <input type="hidden" value="${allow_unicode_course_id}" class="allow-unicode-course-id" />
            <input type="submit" value="${_('Create')}" class="action action-primary new-course-save" />
            <input type="button" value="${_('Cancel')}" class="action action-secondary action-cancel new-course-cancel" />
          </div>
        </form>
      </div>

      % endif

      %if libraries_enabled and show_new_library_button:
      <div class="wrapper-create-element wrapper-create-library">
        <form class="form-create create-library library-info" id="create-library-form" name="create-library-form">
          <div class="wrap-error">
            <div id="library_creation_error" name="library_creation_error" class="message message-status message-status error" role="alert">
            <p>${_("Please correct the highlighted fields below.")}</p>
            </div>
          </div>

          <div class="wrapper-form">
            <h3 class="title">${_("Create a New Library")}</h3>

            <fieldset>
              <legend class="sr">${_("Required Information to Create a New Library")}</legend>

              <ol class="list-input">
                <li class="field text required" id="field-library-name">
                  <label for="new-library-name">${_("Library Name")}</label>
                  ## Translators: This is an example name for a new content library, seen when
                  ## filling out the form to create a new library.
                  ## (A library is a collection of content or problems.)
                  <input class="new-library-name" id="new-library-name" type="text" name="new-library-name" required placeholder="${_('e.g. Computer Science Problems')}" aria-describedby="tip-new-library-name tip-error-new-library-name" />
                  <span class="tip" id="tip-new-library-name">${_("The public display name for your library.")}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-library-name"></span>
                </li>
                <li class="field text required" id="field-organization">
                  <label for="new-library-org">${_("Organization")}</label>
                  <input class="new-library-org" id="new-library-org" type="text" name="new-library-org" required placeholder="${_('e.g. UniversityX or OrganizationX')}" aria-describedby="tip-new-library-org tip-error-new-library-org" />
                  <span class="tip" id="tip-new-library-org">${_("The public organization name for your library.")} ${_("This cannot be changed.")}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-library-org"></span>
                </li>

                <li class="field text required" id="field-library-number">
                  <label for="new-library-number">${_("Library Code")}</label>
                  ## Translators: This is an example for the "code" used to identify a library,
                  ## seen when filling out the form to create a new library. This example is short
                  ## for "Computer Science Problems". The example number may contain letters
                  ## but must not contain spaces.
                  <input class="new-library-number" id="new-library-number" type="text" name="new-library-number" required placeholder="${_('e.g. CSPROB')}" aria-describedby="tip-new-library-number tip-error-new-library-number" />
                  <span class="tip" id="tip-new-library-number">${Text(_("The unique code that identifies this library. {strong_start}Note: This is part of your library URL, so no spaces or special characters are allowed.{strong_end} This cannot be changed.")).format(
                      strong_start=HTML('<strong>'),
                      strong_end=HTML('</strong>'),
                  )}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-library-number"></span>
                </li>
              </ol>

            </fieldset>
          </div>

          <div class="actions">
            <input type="hidden" value="${allow_unicode_course_id}" class="allow-unicode-course-id" />
            <input type="submit" value="${_('Create')}" class="action action-primary new-library-save" />
            <input type="button" value="${_('Cancel')}" class="action action-secondary action-cancel new-library-cancel" />
          </div>
        </form>
      </div>
      % endif

      <!-- STATE: processing courses -->
      %if allow_course_reruns and rerun_creator_status and len(in_process_course_actions) > 0:
      <div class="courses courses-processing">
          <h3 class="title">${_("Courses Being Processed")}</h3>

          <ul class="list-courses">
            %for course_info in sorted(in_process_course_actions, key=lambda s: s['display_name'].lower() if s['display_name'] is not None else ''):
            <!-- STATE: re-run is processing -->
            %if course_info['is_in_progress']:
            <li class="wrapper-course has-status" data-course-key="${course_info['course_key']}">
              <div class="course-item course-rerun is-processing">
                <div class="course-details" href="#">
                  <h3 class="course-title">${course_info['display_name']}</h3>

                  <div class="course-metadata">
                    <span class="course-org metadata-item">
                      <span class="label">${_("Organization:")}</span> <span class="value">${course_info['org']}</span>
                    </span>
                    <span class="course-num metadata-item">
                      <span class="label">${_("Course Number:")}</span>
                      <span class="value">${course_info['number']}</span>
                    </span>
                    <span class="course-run metadata-item">
                      <span class="label">${_("Course Run:")}</span> <span class="value">${course_info['run']}</span>
                    </span>
                  </div>
                </div>

                <dl class="course-status">
                  <dt class="label sr">${_("This course run is currently being created.")}</dt>
                  <dd class="value">
                    <span class="icon fa fa-refresh fa-spin" aria-hidden="true"></span>
                    ## Translators: This is a status message, used to inform the user of
                    ## what the system is doing. This status means that the user has
                    ## requested to re-run an existing course, and the system is currently
                    ## in the process of duplicating and configuring the existing course
                    ## so that it can be re-run.
                    <span class="copy">${_("Configuring as re-run")}</span>
                  </dd>
                </dl>
              </div>

              <div class="status-message">
                <p class="copy">${Text(_('The new course will be added to your course list in 5-10 minutes. Return to this page or {link_start}refresh it{link_end} to update the course list. The new course will need some manual configuration.')).format(
                    link_start=HTML('<a href="#" class="action-reload">'),
                    link_end=HTML('</a>'),
                  )}</p>
              </div>
            </li>
            %endif

            <!-- - - - -->

            <!-- STATE: re-run has error -->
            %if course_info['is_failed']:
            <li class="wrapper-course has-status" data-course-key="${course_info['course_key']}">
              <div class="course-item course-rerun has-error">
                <div class="course-details" href="#">
                  <h3 class="course-title">${course_info['display_name']}</h3>

                  <div class="course-metadata">
                    <span class="course-org metadata-item">
                      <span class="label">${_("Organization:")}</span> <span class="value">${course_info['org']}</span>
                    </span>
                    <span class="course-num metadata-item">
                      <span class="label">${_("Course Number:")}</span>
                      <span class="value">${course_info['number']}</span>
                    </span>
                    <span class="course-run metadata-item">
                      <span class="label">${_("Course Run:")}</span> <span class="value">${course_info['run']}</span>
                    </span>
                  </div>
                </div>

                <dl class="course-status">
                  ## Translators: This is a status message for the course re-runs feature.
                  ## When a course admin indicates that a course should be re-run, the system
                  ## needs to process the request and prepare the new course. The status of
                  ## the process will follow this text.
                  <dt class="label sr">${_("This re-run processing status:")}</dt>
                  <dd class="value">
                    <span class="icon fa fa-warning" aria-hidden="true"></span>
                    <span class="copy">${_("Configuration Error")}</span>
                  </dd>
                </dl>
              </div>

              <div class="status-message has-actions">
                <p class="copy">${_("A system error occurred while your course was being processed. Please go to the original course to try the re-run again, or contact your PM for assistance.")}</p>

                <ul  class="status-actions">
                  <li class="action action-dismiss">
                    <a href="#" class="button dismiss-button" data-dismiss-link="${course_info['dismiss_link']}">
                      <span class="icon fa fa-times-circle" aria-hidden="true"></span>
                      <span class="button-copy">${_("Dismiss")}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            %endif
            %endfor
          </ul>
      </div>
      %endif

      % if libraries_enabled or is_programs_enabled:
      <ul id="course-index-tabs">
        <li class="courses-tab active"><a>${_("Courses")}</a></li>

        % if libraries_enabled:
          <li class="libraries-tab"><a>${_("Libraries")}</a></li>
        % endif

        % if is_programs_enabled:
          <li class="programs-tab"><a>${_("Programs")}</a></li>
        % endif
      </ul>
      % endif

      %if len(courses) > 0:
      <div class="courses courses-tab active">
        <ul class="list-courses">
          %for course_info in sorted(courses, key=lambda s: s['display_name'].lower() if s['display_name'] is not None else ''):
          <li class="course-item" data-course-key="${course_info['course_key']}">
            <a class="course-link" href="${course_info['url']}">
              <h3 class="course-title">${course_info['display_name']}</h3>

              <div class="course-metadata">
                <span class="course-org metadata-item">
                  <span class="label">${_("Organization:")}</span> <span class="value">${course_info['org']}</span>
                </span>
                <span class="course-num metadata-item">
                  <span class="label">${_("Course Number:")}</span>
                  <span class="value">${course_info['number']}</span>
                </span>
                <span class="course-run metadata-item">
                  <span class="label">${_("Course Run:")}</span> <span class="value">${course_info['run']}</span>
                </span>
              </div>
            </a>

            <ul  class="item-actions course-actions">
              % if allow_course_reruns and rerun_creator_status and course_creator_status=='granted':
              <li class="action action-rerun">
                <a href="${course_info['rerun_link']}" class="button rerun-button">${_("Re-run Course")}</a>
              </li>
              % endif
              <li class="action action-view">
                <a href="${course_info['lms_link']}" rel="external" class="button view-button">${_("View Live")}</a>
              </li>
            </ul>
          </li>
          %endfor
        </ul>
      </div>

      %else:
      <div class="notice notice-incontext notice-instruction notice-instruction-nocourses list-notices courses-tab active">
        <div class="notice-item">
          <div class="msg">
            <h3 class="title">${_("Are you staff on an existing {studio_name} course?").format(studio_name=settings.STUDIO_SHORT_NAME)}</h3>
            <div class="copy">
              <p>${_('The course creator must give you access to the course. Contact the course creator or administrator for the course you are helping to author.')}</p>
            </div>
          </div>
        </div>

        %if course_creator_status == "granted":
        <div class="notice-item has-actions">
          <div class="msg">
            <h3 class="title">${_('Create Your First Course')}</h3>
            <div class="copy">
              <p>${_('Your new course is just a click away!')}</p>
            </div>
          </div>

          <ul class="list-actions">
            <li class="action-item">
              <a href="#" class="action-primary action-create action-create-course new-course-button"><span class="icon fa fa-plus icon-inline" aria-hidden="true"></span> ${_('Create Your First Course')}</a>
            </li>
          </ul>
        </div>
        % endif

      </div>
      % endif


      %if course_creator_status == "unrequested":
      <div class="wrapper wrapper-creationrights">
        <h3 class="title">
          <a href="#instruction-creationrights" class="ui-toggle-control show-creationrights"><span class="label">${_('Becoming a Course Creator in {studio_name}').format(studio_name=settings.STUDIO_SHORT_NAME)}</span> <span class="icon fa fa-times-circle" aria-hidden="true"></span></a>
        </h3>

        <div class="notice notice-incontext notice-instruction notice-instruction-creationrights ui-toggle-target" id="instruction-creationrights">
          <div class="copy">
            <p>${_('{studio_name} is a hosted solution for our xConsortium partners and selected guests. Courses for which you are a team member appear above for you to edit, while course creator privileges are granted by {platform_name}. Our team will evaluate your request and provide you feedback within 24 hours during the work week.').format(
              studio_name=settings.STUDIO_NAME, platform_name=settings.PLATFORM_NAME)}</p>
          </div>

          <div class="status status-creationrights is-unrequested">
            <h4 class="title">${_('Your Course Creator Request Status:')}</h4>

            <form id="request-coursecreator" action="${request_course_creator_url}" method="post" enctype="multipart/form-data">
              <div class="form-actions">
                <button type="submit" id="request-coursecreator-submit" name="request-coursecreator-submit" class="action-primary action-request"><span class="icon fa fa-cog icon-inline fa fa-spin" aria-hidden="true"></span> <span class="label">${_('Request the Ability to Create Courses')}</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>

      %elif course_creator_status == "denied":
      <div class="wrapper wrapper-creationrights is-shown">
        <h3 class="title">
          <a href="#instruction-creationrights" class="ui-toggle-control current show-creationrights"><span class="label">${_('Your Course Creator Request Status')}</span> <span class="icon fa fa-times-circle" aria-hidden="true"></span></a>
        </h3>

        <div class="notice notice-incontext notice-instruction notice-instruction-creationrights ui-toggle-target" id="instruction-creationrights">
          <div class="copy">
            <p>${_('{studio_name} is a hosted solution for our xConsortium partners and selected guests. Courses for which you are a team member appear above for you to edit, while course creator privileges are granted by {platform_name}. Our team is has completed evaluating your request.').format(
              studio_name=settings.STUDIO_NAME, platform_name=settings.PLATFORM_NAME,
            )}</p>
          </div>

          <div class="status status-creationrights has-status is-denied">
            <h4 class="title">${_('Your Course Creator Request Status:')}</h4>

            <dl class="status-update">
              <dt class="label">${_('Your Course Creator request is:')}</dt>
              <dd class="value">
                <span class="status-indicator"></span>
                <span class="value-formal">${_('Denied')}</span>
                <span class="value-description">${_('Your request did not meet the criteria/guidelines specified by {platform_name} Staff.').format(platform_name=settings.PLATFORM_NAME)}</span>
              </dd>
            </dl>
          </div>
        </div>
      </div>

      %elif course_creator_status == "pending":
      <div class="wrapper wrapper-creationrights is-shown">
        <h3 class="title">
          <a href="#instruction-creationrights" class="ui-toggle-control current show-creationrights"><span class="label">${_('Your Course Creator Request Status')}</span> <span class="icon fa fa-times-circle" aria-hidden="true"></span></a>
        </h3>

        <div class="notice notice-incontext notice-instruction notice-instruction-creationrights ui-toggle-target" id="instruction-creationrights">
          <div class="copy">
            <p>${_('{studio_name} is a hosted solution for our xConsortium partners and selected guests. Courses for which you are a team member appear above for you to edit, while course creator privileges are granted by {platform_name}. Our team is currently  evaluating your request.').format(
              studio_name=settings.STUDIO_NAME, platform_name=settings.PLATFORM_NAME,
            )}</p>
          </div>

          <div class="status status-creationrights has-status is-pending">
            <h4 class="title">${_('Your Course Creator Request Status:')}</h4>

            <dl class="status-update">
              <dt class="label">${_('Your Course Creator request is:')}</dt>
              <dd class="value">
                <span class="status-indicator"></span>
                <span class="value-formal">${_('Pending')}</span>
                <span class="value-description">
                  ${_('Your request is currently being reviewed by {platform_name} staff and should be updated shortly.').format(platform_name=settings.PLATFORM_NAME)}
                </span>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      % endif

      %if len(libraries) > 0:
      <div class="libraries libraries-tab">
        <ul class="list-courses">
          %for library_info in sorted(libraries, key=lambda s: s['display_name'].lower() if s['display_name'] is not None else ''):
          <li class="course-item">
            <a class="library-link" href="${library_info['url']}">
              <h3 class="course-title">${library_info['display_name']}</h3>

              <div class="course-metadata">
                <span class="course-org metadata-item">
                  <span class="label">${_("Organization:")}</span> <span class="value">${library_info['org']}</span>
                </span>
                <span class="course-num metadata-item">
                  <span class="label">${_("Course Number:")}</span>
                  <span class="value">${library_info['number']}</span>
                </span>
                % if not library_info["can_edit"]:
                  <span class="extra-metadata">${_("(Read-only)")}</span>
                % endif
              </div>
            </a>
          </li>
          %endfor
        </ul>
      </div>

      %else:
      <div class="notice notice-incontext notice-instruction notice-instruction-nocourses list-notices libraries-tab">
        <div class="notice-item">
          <div class="msg">
              <h3 class="title">${_("Were you expecting to see a particular library here?")}</h3>
              <div class="copy">
                  <p>${_('The library creator must give you access to the library. Contact the library creator or administrator for the library you are helping to author.')}</p>
              </div>
          </div>
        </div>
        % if show_new_library_button:
        <div class="notice-item has-actions">
          <div class="msg">
              <h3 class="title">${_('Create Your First Library')}</h3>
              <div class="copy">
                  <p>${_('Libraries hold a pool of components that can be re-used across multiple courses. Create your first library with the click of a button!')}</p>
              </div>
          </div>

        <ul class="list-actions">
          <li class="action-item">
              <a href="#" class="action-primary action-create new-button action-create-library new-library-button"><span class="icon fa fa-plus icon-inline" aria-hidden="true"></span> ${_('Create Your First Library')}</a>
          </li>
        </ul>
        </div>
        % endif
      </div>
      %endif

      % if is_programs_enabled:
        % if len(programs) > 0:
          <div class="programs programs-tab">
            <!-- Classes related to courses are intentionally reused here, to duplicate the styling used for course listing. -->
            <ul class="list-courses">
              % for program in programs:
              <li class="course-item">

                <a class="program-link" href=${program_authoring_url + str(program['id'])}>
                  <h3 class="course-title">${program['name']}</h3>

                  <div class="course-metadata">
                    <span class="course-org metadata-item">
                      <!-- As of this writing, programs can only be owned by one organization. If that constraint is relaxed, this will need to be revisited. -->
                      <span class="label">${_("Organization:")}</span> <span class="value">${program['organizations'][0]['key']}</span>
                    </span>
                  </div>
                </a>

              </li>
              % endfor
            </ul>
          </div>

        % else:
          <div class="notice notice-incontext notice-instruction notice-instruction-nocourses list-notices programs-tab">
            <div class="notice-item has-actions">

              <div class="msg">
                <h3 class="title">${_("You haven't created any programs yet.")}</h3>
                <div class="copy">
                  <p>${_("Programs are groups of courses related to a common subject.")}</p>
                </div>
              </div>

              <ul class="list-actions">
                <li class="action-item">
                  <a href=${program_authoring_url + 'new'} class="action-primary action-create new-button action-create-program new-program-button"><span class="icon fa fa-plus icon-inline" aria-hidden="true"></span> ${_('Create Your First Program')}</a>
                </li>
              </ul>

            </div>
          </div>
        % endif
      % endif

    </article>
    <aside class="content-supplementary" role="complementary">
      <div class="bit">
        <h3 class="title title-3">${_('New to {studio_name}?').format(studio_name=settings.STUDIO_NAME)}</h3>
        <p>${_('Click Help in the upper-right corner to get more information about the {studio_name} page you are viewing. You can also use the links at the bottom of the page to access our continually updated documentation and other {studio_name} resources.').format(studio_name=settings.STUDIO_SHORT_NAME)}</p>

        <ol class="list-actions">
          <li class="action-item">

            <a href="${get_online_help_info(online_help_token())['doc_url']}" target="_blank">${_("Getting Started with {studio_name}").format(studio_name=settings.STUDIO_NAME)}</a>
          </li>
        </ol>
      </div>

      % if course_creator_status=='disallowed_for_this_site' and settings.FEATURES.get('STUDIO_REQUEST_EMAIL',''):
      <div class="bit">
        <h3 class="title title-3">${_("Can I create courses in {studio_name}?").format(studio_name=settings.STUDIO_NAME)}</h3>
        <p>${Text(_("In order to create courses in {studio_name}, you must {link_start}contact {platform_name} staff to help you create a course{link_end}.")).format(
            studio_name=settings.STUDIO_NAME,
            platform_name=settings.PLATFORM_NAME,
            link_start=HTML('<a href="mailto:{email}">').format(email=settings.FEATURES.get('STUDIO_REQUEST_EMAIL','')),
            link_end=HTML("</a>"),
          )}</p>
      </div>
      % endif

      % if course_creator_status == "unrequested":
      <div class="bit">
        <h3 class="title title-3">${_("Can I create courses in {studio_name}?").format(studio_name=settings.STUDIO_NAME)}</h3>
        <p>${_('In order to create courses in {studio_name}, you must have course creator privileges to create your own course.').format(studio_name=settings.STUDIO_NAME)}</p>
      </div>

      % elif course_creator_status == "denied":
      <div class="bit">
        <h3 class="title title-3">${_("Can I create courses in {studio_name}?").format(studio_name=settings.STUDIO_NAME)}</h3>
        <p>${Text(_("Your request to author courses in {studio_name} has been denied. Please {link_start}contact {platform_name} Staff with further questions{link_end}.")).format(
            studio_name=settings.STUDIO_NAME,
            platform_name=settings.PLATFORM_NAME,
            link_start=HTML('<a href="mailto:{email}">').format(email=settings.TECH_SUPPORT_EMAIL),
            link_end=HTML('</a>'),
          )}</p>
      </div>

      % endif
    </aside>
  </section>


  % else:
  <section class="content">
    <article class="content-primary" role="main">
      <div class="introduction">
        <h2 class="title">${_("Thanks for signing up, {name}!").format(name=user.username)}</h2>
      </div>

      <div class="notice notice-incontext notice-instruction notice-instruction-verification">
        <div class="msg">
          <h3 class="title">${_("We need to verify your email address")}</h3>
          <div class="copy">
            <p>${_('Almost there! In order to complete your sign up we need you to verify your email address ({email}). An activation message and next steps should be waiting for you there.').format(email=user.email)}</p>
          </div>
        </div>
      </div>
    </article>

    <aside class="content-supplementary" role="complementary">
      <div class="bit">
        <h3 class="title title-3">${_('Need help?')}</h3>
        <p>${_('Please check your Junk or Spam folders in case our email isn\'t in your INBOX. Still can\'t find the verification email? Request help via the link below.')}</p>
      </div>
    </aside>
  </section>

  %endif
</div>
</%block>
