## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" />
<%block name="bodyclass">view-adobe_connect is-in-course course</%block>
<%block name="pagetitle">${_("Aula Virtual")}</%block>
<%block name="headextra">
<%static:css group='style-course'/>
</%block>
<%include file="/courseware/course_navigation.html" args="active_page='adobe_connect'" />
<%
from xmodule.modulestore.django import modulestore
from xmodule.modulestore.exceptions import ItemNotFoundError
advanced_modules = modulestore().get_course(course_key).advanced_modules
adobe_connect_link = [i for i in advanced_modules if i.startswith('https://digitalhouse.adobeconnect.com')]
adobe_connect_link = str(adobe_connect_link[0])
%>

<div class="container">
    <div class="teams-wrapper">
        <main id="main" aria-label="Content" tabindex="-1">
            <section class="teams-content">
                <h1 style="margin: 2rem;margin-bottom: -4rem;">Aula Virtual<h1>
                  <a target="_blank" id ="course_link" href=${adobe_connect_link}><p id="course_name" style="margin: 2rem;color: blue;"></p></a>
            </section>
        </main>
    </div>
</div>

<script>
  //org = window.location.href.split("/")[4].split("+")[0].split(":")[1] ;
  //name = window.location.href.split("/")[4].split("+")[1] ;
  //run = window.location.href.split("/")[4].split("+")[2] ;
  //course_id = window.location.href.split("/")[4].split("+") ;
  //$("#course_link").attr( "href","https://digitalhouse.adobeconnect.com/" + course_id) ;
  course_name = $(".a--site-nav__course-name").text() ;
  $("#course_name").html(course_name) ;
</script>
